@import url("https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400;0,500;0,600;0,700;1,400&display=swap");
/* css reset  */
* {
  margin: 0;
  padding: 0;
  font-family: "Cabin", sans-serif;
}
/** header for navbar  */
header {
  background-color: rgb(255, 255, 255);
  box-shadow: 5px 5px 12px #8888887c;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  z-index: 2;
  top: 0px;
  width: 100vw;
}
/* header-left-block  */
.header-left-block {
  display: flex;
  margin-left: 23px;
  align-items: center;
}
/* logo-block */
.logo {
  width: 90px;
}
/* navbar-link */
.nav-links {
  margin: 0px 23px;
  position: relative;
}
.nav-links ul {
  display: flex;
  list-style: none;
}
.nav-links a {
  margin: 0px 20px;
  font-size: 18px;
  text-decoration: none;
  color: var(--secondary);
  font-weight: 600;
  position: relative;
}
.nav-links ul li :hover {
  color: var(--primary);
}
.nav-links a span {
  position: absolute;
  top: 4px;
  right: -20px;
}
.nav-links-block {
  position: absolute;
  top: 60px;
  left: 151px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  background-color: var(--primary);
  padding: 1rem 3rem;
  width: 60%;
  border-radius: 10px;
  display: none;
}
.nav-links-top h4 {
  font-size: 14px;
  /* color: white; */
}
.nav-links-each {
  margin: 2rem 0px;
  background-color: white;
  padding: 1.5rem 1rem;
  border-radius: 5px;
  height: 75px;
}
.nav-links-each p {
  /* color: white; */
  font-size: 12px;
}

/* header-right-block */
.header-right-block {
  padding: 0px 20px;
  margin-right: 23px;
}
/* right-block-btn  */
.right-block-btn {
  padding: 1rem 1rem;
  border: none;
  background-color: var(--primary);
  border-radius: 3px;
}
.right-block-btn a {
  text-decoration: none;
  font-size: 16px;
  color: rgb(255, 255, 255);
}

/** blog-section */
.blog-section {
  margin-top: 10rem;
  padding: 2rem;
}
/* blog-container */
.blog-container {
  padding: 2rem;
}
/* blog-container-heading */
.blog-container-heading {
  font-size: 38px;
  line-height: 2rem;
  font-weight: 600;
  color: black;
}
/* blog-container-grid-block */
.blog-container-grid-block {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1rem;
  margin-top: 2rem;
  border-top: 1px solid rgb(61, 61, 61);
  padding-top: 2rem;
}
/* grid-block-info */
.grid-block-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 2rem;
  padding: 1rem;
}
/* grid-block-info-img */
.grid-block-info-img {
  width: 100%;
}
/* grid-block-info-link */
.grid-block-info-link {
  text-decoration: none;
}
/* grid-block-info-link h1 */
.grid-block-info-link h1 {
  font-size: 26px;
  line-height: 1.5rem;
  color: black;
  text-align: start;
}


/** footer-block  */
.footer-section {
  margin-top: 244px;
  background-color: #24282f;
  padding: 1rem 4rem;
}
/* footer-top-content */
.footer-block-top-content {
  display: flex;
  /* padding: 1rem 2rem 4rem 2rem; */
  border-bottom: 1px solid gray;
}
/* left-block  */
.footer-top-left-block {
  display: flex;
  flex-direction: column;
  width: 300px;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
}
/* logo-block  */
.left-block-logo {
  width: 13rem;
  filter: invert(1);
}
/* left-block-img  */
.left-block-img {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
/* left-block-first-img  */
.left-block-first-img {
  width: 6.7rem;
}
/* mid-section  */
.footer-top-mid-block {
  display: flex;
  margin: 1rem;
}
/* mid-left-block  */
.mid-left-block {
  margin: 0rem 2.5rem;
}
/* mid-left-block-heading */
.mid-left-block-heading {
  font-size: 18px;
  color: white;
  line-height: 2rem;
}

.footer-section ul {
  list-style: none;
}

.footer-section ul li a {
  text-decoration: none;
  font-size: 16px;
  color: rgba(255, 255, 255, 0.706);
  line-height: 2rem;
}

.footer-section ul li a:hover {
  color: white;
}

.footer-section h1 {
  font-size: 18px;
  color: white;
  line-height: 2rem;
}

/* mid-mid-block */
.mid-mid-block {
  margin: 2rem 2.5rem;
}

/* mid-right-block  */
.mid-right-block {
  margin: 0rem 2rem;
}

/* footer-right-block  */
.footer-right-block {
  margin: 1rem;
  margin-left: 0px;
  display: flex;
}
/* right-left-block  */
.footer-right-block-left-content-block {
  margin: 0rem 1rem;
}
/* right-right-block */
.footer-right-block-right-content-block {
  margin: 0rem 2.5rem;
  display: flex;
  align-items: flex-start;
}
/* right-top-block  */
.right-top-block {
  display: flex;
  flex-direction: column;
  margin-right: 1rem;
}

/* right-mid-block */
.right-mid-block {
  /* margin: 2rem 0; */
  margin-right: 1rem;
}

/* footer-bottom-top-content */
.footer-bottom-top-block-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
}
/* bottom-left-block  */
.bottom-top-left-block {
  margin-top: 2rem;
}
/* logo-block */
.top-left-block-logos {
  border: 2px solid white;
  width: 20rem;
  color: white;
  margin: 1rem;
}
/* top-left-block-para */
.top-left-block-para {
  color: rgba(255, 255, 255, 0.673);
  font-size: 15px;
  font-style: italic;
  line-height: 2rem;
}

/* bottom-top-right-block-heading */
.bottom-top-right-block-heading {
  font-size: 14px;
  margin: 2rem;
  color: rgba(255, 255, 255, 0.644);
  margin-left: 16px;
}
/* bottom-top-right-block-span a  */
.bottom-top-right-block-span a {
  color: rgba(255, 255, 255, 0.644);
}
.bottom-top-right-block-span :hover {
  color: white;
}
/* bottom-top-right-block-images */
.bottom-top-right-block-images {
  margin: 2rem;
  display: flex;
  align-items: center;
  margin-left: 0px;
}
.top-right-block-image {
  width: 25px;
  margin: 0rem 0.5rem;
}

/* footer-bottom-bottom-block-content */
.footer-bottom-bottom-block-content {
  padding: 1rem 2rem;
}
/* bottom-block-content-first-heading */
.bottom-block-content-first-heading {
  color: rgba(255, 255, 255, 0.285);
  font-size: 14px;
  display: inline;
}
/* bottom-block-content-first-link */
.bottom-block-content-first-link {
  text-decoration: none;
}
.bottom-block-content-first-link :hover {
  color: white;
}
/* bottom-block-content-second-link */
.bottom-block-content-second-link {
  color: rgba(255, 255, 255, 0.29);
  font-size: 13px;
}