* {
  margin: 0;
  padding: 0;
}
/* blog-section */
.blog-section {
  padding: 2rem;
  margin-top: 8rem;
}
/* blog-container */
.blog-container {
  padding: 2rem;
}
/* blog-container-heading */
.blog-container-heading {
  font-size: 38px;
  line-height: 2rem;
  font-weight: 600;
  color: black;
}
/* blog-container-grid-block */
.blog-container-grid-block {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1rem;
  margin-top: 2rem;
  border-top: 1px solid rgb(61, 61, 61);
  padding-top: 2rem;
}
/* grid-block-info */
.grid-block-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 2rem;
  padding: 1rem;
}
/* grid-block-info-img */
.grid-block-info-img {
  width: 100%;
  border-radius: 10px;
}
/* grid-block-info-link */
.grid-block-info-link {
  text-decoration: none;
}
.grid-block-info-link :hover {
  color:#0686c8 ;
}
/* grid-block-info-link h1 */
.grid-block-info-link h1 {
  font-size: 23px;
  line-height: 1.8rem;
  color: black;
  text-align: start;
}
