@import url("https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400;0,500;0,600;0,700;1,400&display=swap");

/* css reset  */
/*! Note Use Rem Unit */
* {
  margin: 0px;
  padding: 0px;
}
:root {
  --primary: #0686c8;
  --secondary: black;
}
body {
  background-color: rgb(255, 255, 255);
  font-family: "Cabin", sans-serif;
  overflow-x: hidden;
}

/** blog-section */
.blog-section {
  margin-top: 10rem;
  padding: 2rem;
}
/* blog-container */
.blog-container {
  padding: 2rem;
}
/* blog-container-heading */
.blog-container-heading {
  font-size: 38px;
  line-height: 2rem;
  font-weight: 600;
  color: black;
}
/* blog-container-grid-block */
.blog-container-grid-block {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1rem;
  margin-top: 2rem;
  border-top: 1px solid rgb(61, 61, 61);
  padding-top: 2rem;
}
/* grid-block-info */
.grid-block-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 2rem;
  padding: 1rem;
}
/* grid-block-info-img */
.grid-block-info-img {
  width: 100%;
}
/* grid-block-info-link */
.grid-block-info-link {
  text-decoration: none;
}
/* grid-block-info-link h1 */
.grid-block-info-link h1 {
  font-size: 23px;
  line-height: 2rem;
  color: black;
  text-align: start;
}
.grid-block-info-link h1:hover {
  color: #0686c8;
}

@media (max-width: 769px) {
  .blog-container-grid-block{
    grid-template-columns: repeat(2, 1fr);
  }
  .grid-block-info-link h1 {
    font-size: 14px;
    line-height: 1.5rem;
    color: black;
    text-align: start;
  }
}
@media (max-width: 520px){
  .blog-container-grid-block{
    grid-template-columns: repeat(1, 1fr);
  }
  .grid-block-info-link h1 {
    font-size: 14px;
    line-height: 1.5rem;
    color: black;
    text-align: start;
  }
}

