/** header for navbar  */
header {
    background-color: rgb(255, 255, 255);
    box-shadow: 5px 5px 12px #8888887c;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 2;
    top: 0px;
    width: 100vw;
  }
  /* header-left-block  */
  .header-left-block {
    display: flex;
    margin-left: 23px;
    align-items: center;
  }
  /* logo-block */
  .logo {
    width: 90px;
  }
  /* navbar-link */
  .nav-links {
    margin: 0px 23px;
    position: relative;
  }
  .nav-links ul {
    display: flex;
    list-style: none;
  }
  .nav-links a {
    margin: 0px 20px;
    font-size: 18px;
    text-decoration: none;
    color: var(--secondary);
    font-weight: 600;
    position: relative;
  }
  .nav-links ul li :hover {
    color: var(--primary);
  }
  .nav-links a span {
    position: absolute;
    top: 4px;
    right: -20px;
  }
  .nav-links-block {
    position: absolute;
    top: 60px;
    left: 151px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    background-color: var(--primary);
    padding: 1rem 3rem;
    width: 60%;
    border-radius: 10px;
    display: none;
  }
  .nav-links-top h4 {
    font-size: 14px;
    /* color: white; */
  }
  .nav-links-each {
    margin: 2rem 0px;
    background-color: white;
    padding: 1.5rem 1rem;
    border-radius: 5px;
    height: 75px;
  }
  .nav-links-each p {
    /* color: white; */
    font-size: 12px;
  }
  
  /* header-right-block */
  .header-right-block {
    padding: 0px 20px;
    margin-right: 23px;
  }
  /* right-block-btn  */
  .right-block-btn {
    padding: 1rem 1rem;
    border: none;
    background-color: var(--primary);
    border-radius: 3px;
  }
  .right-block-btn a {
    text-decoration: none;
    font-size: 16px;
    color: rgb(255, 255, 255);
  }
  .small-block-icon {
    width: 30px;
  }
  