@import url("https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400;0,500;0,600;0,700;1,400&display=swap");

/* css reset  */
/*! Note Use Rem Unit */
* {
  margin: 0px;
  padding: 0px;
}
:root {
  --primary: #0686c8;
  --secondary: black;
}
body {
  background-color: rgb(255, 255, 255);
  font-family: "Cabin", sans-serif;
  overflow-x: hidden;
}

/* background-right-asset */
.background-right-asset {
  position: absolute;
  top: -17px;
  z-index: -111;
  right: 371px;
}
.background-right-asset img {
  width: 650px;
  position: absolute;
}
/* background-left-top-asset */
.background-left-top-asset {
  position: absolute;
  top: -14px;
  left: -98px;
  opacity: 0.2;
}
/* backgroun-left-bottom */
.backgroun-left-bottom-asset {
  position: absolute;
  left: 241px;
  bottom: 36px;
  opacity: 0.2;
  z-index: -1111;
}

.background-rectangle-bottom {
  width: 150px;
}

.auto-type {
  color: var(--primary);
}
/* hero section  */
.hero-section {
  position: relative;
  width: 90%;
  height: 600px;
  margin-top: 140px;
  margin-left: auto;
  margin-right: auto;
  z-index: 1;
}
/* grid-block */
.hero-block-content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 23px;
}
/* left-grid-block */
.left-grid-block {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 2rem;
}
/* left-block-content  */
.left-grid-block-content {
  width: 600px;
}
.left-grid-block-heading {
  font-size: 52px;
  line-height: 72px;
  margin-top: 3rem;
}
.left-grid-block-para {
  margin-top: 2rem;
  font-size: 20px;
  line-height: 34px;
}
.left-grid-block-btn {
  padding: 1.3rem 2rem;
  background-color: var(--primary);
  margin-top: 2rem;
  border: none;
  border-radius: 4px;
  transition: all 1s;
}

.left-grid-block-btn:hover {
  background-color: rgb(128, 128, 128);
  color: #000;
}

.left-grid-block-btn a {
  text-decoration: none;
  color: white;
  font-size: 18px;
}

/* right-grid-block */
.right-grid-block {
  padding: 2rem;
}

/* right-block-content  */
.right-grid-block-content {
  position: relative;
}
.right-block-image-first {
  width: 250px;
  height: 250px;
  object-fit: cover;
  position: absolute;
  top: -20px;
  right: -80px;
  border-radius: 50px;
}
.right-block-image-second {
  width: 550px;
  height: 450px;
  object-fit: contain;
  position: absolute;
  top: 40px;
  left: -47px;
  object-position: 95% 66%;
  /* border-radius: 50px; */
}

/* brief-info-block */
.brief-info-section {
  margin-top: 12rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* brief-info-block-content */
.brief-info-block-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 900px;
}
/*brief-info-block-heading */
.brief-info-block-heading {
  font-size: 45px;
  margin-bottom: 25px;
}
/*brief-info-block-para */
.brief-info-block-para {
  text-align: center;
  line-height: 26px;
  font-size: 16px;
}

/* Service block  */
.service-section {
  margin-top: 15rem;
}
/* service-content-block */
.service-block-content {
  width: 90%;
  margin: auto;
}

/* grid-block  */
.service-grid-block {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
  margin: 4rem 0rem;
}
/* grid-left-block  */
/* grid-left-small-block */
.grid-small-block,
.nav-links-top {
  display: flex;
  align-items: center;
  margin: 2rem 0rem;
}
.nav-links-top {
  margin: 0.5rem 0rem;
}
.small-block-icon {
  width: 30px;
}
.small-block-heading {
  font-size: 18px;
  margin-left: 1rem;
}
/* .service-grid-left-block */
.service-grid-left-block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 2rem;
}
.grid-left-block-heading {
  font-size: 50px;
  line-height: 50px;
  margin-bottom: 2rem;
}
.grid-block-span {
  font-weight: 100;
}
.grid-left-block-para {
  font-size: 17px;
  line-height: 30px;
  margin-bottom: 2rem;
}
.grid-left-block-btn {
  padding: 1rem 2.5rem;
  border: none;
  border-radius: 3px;
  background-color: var(--primary);
}

.grid-left-block-btn a {
  text-decoration: none;
  font-size: 16px;
  color: white;
}
/* grid-right-block */
.grid-right-block-img {
  width: 550px;
  height: 400px;
  object-fit: cover;
}
.service-grid-right-block {
  padding-left: 4rem;
  padding-top: 4rem;
  padding-bottom: 4rem;
  text-align: right;
  background: radial-gradient(circle at right bottom, #26b5fd, #a66bbd);
}

.service-grid-block:nth-of-type(2) .service-grid-right-block {
  background: radial-gradient(circle at left bottom, #ed61ff, #f50000);
}

.service-grid-block:nth-of-type(3) .service-grid-right-block {
  background: radial-gradient(circle at left bottom, #6cb8cd, #7108398e);
}

.service-grid-block:nth-of-type(4) .service-grid-right-block {
  background: radial-gradient(circle at left bottom, #c88106, #c8bd7f8e);
}

.service-grid-block:nth-of-type(5) .service-grid-right-block {
  background: radial-gradient(circle at left bottom, #ffeb5b, #00e9fa);
}

.service-grid-block:nth-of-type(6) .service-grid-right-block {
  background: radial-gradient(circle at left bottom, #8888df, #9bdde9);
}

.service-grid-block:nth-of-type(7) .service-grid-right-block {
  background: radial-gradient(circle at left bottom, #c8ca98, #6a787b);
}

.service-grid-block:nth-of-type(8) .service-grid-right-block {
  background: radial-gradient(circle at left bottom, #efc3c7, #ff4d00);
}

.service-grid-block:nth-of-type(9) .service-grid-right-block {
  background: radial-gradient(circle at left bottom, #ec67f9, #00e9fa);
}

.service-grid-block:nth-of-type(10) .service-grid-right-block {
  background: radial-gradient(circle at left bottom, #6cb8cd, #7108398e);
}

.service-grid-block:nth-of-type(11) .service-grid-right-block {
  background: radial-gradient(circle at left bottom, #c88106, #c8bd7f8e);
}

.service-grid-block:nth-of-type(9) .service-grid-right-block img {
  object-position: right;
}

.service-grid-block:nth-of-type(10) .service-grid-right-block img {
  object-position: right;
}


