/* css reset  */
/*! Note Use Rem Unit */
* {
  margin: 0px;
  padding: 0px;
}
:root {
  --primary: #0686c8;
  --secondary: black;
}
body {
  background-color: rgb(255, 255, 255);
  font-family: "Cabin", sans-serif;
  overflow-x: hidden;
}
/* header for navbar  */
header {
  background-color: rgb(255, 255, 255);
  box-shadow: 5px 5px 12px #8888887c;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  z-index: 2;
  top: 0px;
  width: 100vw;
}
/* header-left-block  */
.header-left-block {
  display: flex;
  margin-left: 23px;
  align-items: center;
}
/* logo-block */
.logo {
  width: 12%;
}
/* navbar-link */
.nav-links {
  margin: 0px 23px;
}
.nav-links ul {
  display: flex;
  list-style: none;
}
.nav-links a {
  margin: 0px 15px;
  font-size: 18px;
  text-decoration: none;
  color: var(--secondary);
}
.nav-links ul li :hover {
  color: var(--primary);
}
/* header-right-block */
.header-right-block {
  padding: 0px 20px;
  margin-right: 23px;
}
/* right-block-btn  */
.right-block-btn {
  padding: 1rem 1rem;
  border: none;
  background-color: var(--primary);
  border-radius: 3px;
}
.right-block-btn a {
  text-decoration: none;
  font-size: 16px;
  color: rgb(255, 255, 255);
}


/* background-right-asset */
.background-right-asset {
  position: absolute;
  left: 698px;
  top: -17px;
  z-index: -111;
}
.background-right-asset img {
  width: 650px;
  position: absolute;
}
/* background-left-top-asset */
.background-left-top-asset {
  position: absolute;
  top: -14px;
  left: -98px;
  opacity: 0.2;
}
/* backgroun-left-bottom */
.backgroun-left-bottom-asset {
  position: absolute;
  left: 241px;
  bottom: 36px;
  opacity: 0.2;
}

.background-rectangle-bottom {
  width: 150px;
}

/* hero section  */
.hero-section {
  position: relative;
  width: 90%;
  height: 600px;
  margin-top: 140px;
  margin-left: auto;
  margin-right: auto;
  z-index: 1;
}
/* grid-block */
.hero-block-content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 23px;
}
/* left-grid-block */
.left-grid-block {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 2rem;
}
/* left-block-content  */
.left-grid-block-content {
  width: 600px;
}
.left-grid-block-heading {
  font-size: 52px;
  line-height: 72px;
  margin-top: 3rem;
}
.left-grid-block-para {
  margin-top: 2rem;
  font-size: 20px;
  line-height: 34px;
}
.left-grid-block-btn {
  padding: 1.3rem 2rem;
  background-color: var(--primary);
  margin-top: 2rem;
  border: none;
  border-radius: 4px;
}
.left-grid-block-btn a {
  text-decoration: none;
  color: white;
  font-size: 18px;
}

/* right-grid-block */
.right-grid-block {
  padding: 2rem;
}

/* right-block-content  */
.right-grid-block-content {
  display: flex;
  align-items: center;
  justify-content: center;
}
.right-block-image-first {
  margin-top: 100px;
  margin-right: 34px;
  width: 45%;
}
.right-block-image-second {
  width: 45%;
}

/* brief-info-block */
.brief-info-section {
  margin-top: 8rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* brief-info-block-content */
.brief-info-block-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 900px;
}
/*brief-info-block-heading */
.brief-info-block-heading {
  font-size: 45px;
  margin-bottom: 25px;
}
/*brief-info-block-para */
.brief-info-block-para {
  text-align: center;
  line-height: 26px;
  font-size: 16px;
}
/* Service block  */
.service-section {
  margin-top: 170px;
}
/* service-content-block */
.service-block-content {
  width: 90%;
  margin: auto;
}
/* grid-block  */
.service-grid-block {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
}
/* grid-left-block  */
.service-grid-left-block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 2rem;
}
.grid-left-block-heading {
  font-size: 50px;
  line-height: 50px;
  margin-bottom: 2rem;
}
.grid-block-span {
  font-weight: 100;
}
.grid-left-block-para {
  font-size: 17px;
  line-height: 30px;
  margin-bottom: 2rem;
}
.grid-left-block-btn {
  padding: 1rem 2.5rem;
  border: none;
  border-radius: 3px;
  background-color: var(--primary);
}

.grid-left-block-btn a {
  text-decoration: none;
  font-size: 16px;
  color: white;
}
/* grid-right-block */
.grid-right-block-img {
  width: 100%;
}
.service-grid-right-block {
  padding-left: 4rem;
  padding-top: 4rem;
  padding-bottom: 4rem;
  background: radial-gradient(circle at right bottom, #26b5fd, #a66bbd);
}

/* second-service-grid-block  */
.service-grid-second-block {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
  margin-top: 4rem;
}
/* service-second-grid-right-block */
.service-second-grid-right-block {
  padding-left: 4rem;
  padding-top: 4rem;
  padding-bottom: 4rem;
  background: radial-gradient(circle at left bottom, #3e4b65, #a98484);
}

/* third-grid-block  */
.service-grid-third-block {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
  margin-top: 4rem;
}
/* service-third-grid-right-block */
.service-third-grid-right-block {
  padding-left: 4rem;
  padding-top: 4rem;
  padding-bottom: 4rem;
  background: radial-gradient(circle at left bottom, #6cb8cd, #7108398e);
}

/* fourth-grid-block  */
.service-grid-fourth-block {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
  margin-top: 4rem;
}
/* service-fourth-grid-right-block */
.service-fourth-grid-right-block {
  padding-left: 4rem;
  padding-top: 4rem;
  padding-bottom: 4rem;
  background: radial-gradient(circle at left bottom, #c88106, #c8bd7f8e);
}

/* fifth-grid-block  */
.service-grid-fifth-block {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
  margin-top: 4rem;
}
/* service-fifth-grid-right-block */
.service-fifth-grid-right-block {
  padding-left: 4rem;
  padding-top: 4rem;
  padding-bottom: 4rem;
  background: radial-gradient(circle at left bottom, #05357c, #5d5d5b8e);
}

/* sixth-grid-block  */
.service-grid-sixth-block {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
  margin-top: 4rem;
}
/* service-sixth-grid-right-block */
.service-sixth-grid-right-block {
  padding-left: 4rem;
  padding-top: 4rem;
  padding-bottom: 4rem;
  background: radial-gradient(circle at left bottom, #8888df, #9bdde9);
}

/* seventh-grid-block  */
.service-grid-seventh-block {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
  margin-top: 4rem;
}
/* service-seventh-grid-right-block */
.service-seventh-grid-right-block {
  padding-left: 4rem;
  padding-top: 4rem;
  padding-bottom: 4rem;
  background: radial-gradient(circle at left bottom, #c8ca98, #6a787b);
}

/* eighth-grid-block  */
.service-grid-eighth-block {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
  margin-top: 4rem;
}
/* service-eighth-grid-right-block */
.service-eighth-grid-right-block {
  padding-left: 4rem;
  padding-top: 4rem;
  padding-bottom: 4rem;
  background: radial-gradient(circle at right bottom, #26b5fd, #a66bbd);
}

/* ninth-grid-block  */
.service-grid-ninth-block {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
  margin-top: 4rem;
}
/* service-eighth-grid-right-block */
.service-ninth-grid-right-block {
  padding-left: 4rem;
  padding-top: 4rem;
  padding-bottom: 4rem;
  background: radial-gradient(circle at left bottom, #3e4b65, #a98484);
}

/* tenth-grid-block  */
.service-grid-tenth-block {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
  margin-top: 4rem;
}
/* service-tenth-grid-right-block */
.service-tenth-grid-right-block {
  padding-left: 4rem;
  padding-top: 4rem;
  padding-bottom: 4rem;
  background: radial-gradient(circle at left bottom, #6cb8cd, #7108398e);
}

/* eleventh-grid-block  */
.service-grid-eleventh-block {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
  margin-top: 4rem;
}
/* service-eleventh-grid-right-block */
.service-eleventh-grid-right-block {
  padding-left: 4rem;
  padding-top: 4rem;
  padding-bottom: 4rem;
  background: radial-gradient(circle at left bottom, #c88106, #c8bd7f8e);
}
