/* css reset  */
* {
  margin: 0px;
  padding: 0px;
}
:root {
  --primary: #0686c8;
  --secondary: black;
}
body {
  background-color: rgb(255, 255, 255);
  font-family: "Cabin", sans-serif;
}
/* header for navbar  */
header {
  background-color: rgb(255, 255, 255);
  box-shadow: 5px 5px 12px #8888887c;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  z-index: 1;
  top: 0px;
  width: 100vw;
}
/* header-left-block  */
.header-left-block {
  display: flex;
  margin-left: 23px;
  align-items: center;
}
/* logo-block */
.logo {
  width: 12%;
}
/* navbar-link */
.nav-links {
  margin: 0px 23px;
}
.nav-links ul {
  display: flex;
  list-style: none;
}
.nav-links a {
  margin: 0px 15px;
  font-size: 18px;
  text-decoration: none;
  color: var(--secondary);
}
.nav-links ul li :hover {
  color: var(--primary);
}
/* header-right-block */
.header-right-block {
  padding: 0px 20px;
  margin-right: 23px;
}
/* right-block-btn  */
.right-block-btn {
  padding: 12px 18px;
  border: none;
  background-color: var(--primary);
  border-radius: 3px;
}
.right-block-btn a {
  text-decoration: none;
  font-size: 16px;
  color: rgb(255, 255, 255);
}

/* background-right-asset */
.background-right-asset {
  position: absolute;
  left: 940px;
  top: 150px;
}
.background-right-asset img {
  width: 650px;
}
/* background-left-top-asset */
.background-left-top-asset {
  position: absolute;
  top: 130px;
  left: 25px;
  opacity: 0.3;
}
/* backgroun-left-bottom */
.backgroun-left-bottom-asset {
  position: absolute;
  top: 536px;
  left: 350px;
  opacity: 0.3;
}

/* hero section  */
.hero-section {
  margin-top: 140px;
  margin-left: 34px;
  margin-right: 34px;
  position: relative;
  z-index: 2;
}
/* grid-block */
.hero-block-content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 23px;
}
/* left-grid-block */
.left-grid-block {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 2rem;
}
/* left-block-content  */
.left-grid-block-content {
  width: 600px;
}
.left-grid-block-heading {
  font-size: 52px;
  line-height: 50px;
  margin-top: 3rem;
}
.left-grid-block-para {
  margin-top: 2rem;
  font-size: 20px;
  line-height: 34px;
}
.left-grid-block-btn {
  padding: 1.3rem 2rem;
  background-color: var(--primary);
  margin-top: 2rem;
  border: none;
  border-radius: 4px;
}
.left-grid-block-btn a {
  text-decoration: none;
  color: white;
  font-size: 18px;
}
/* right-grid-block */
.right-grid-block {
  padding: 2rem;
}
/* right-block-content  */
.right-grid-block-content {
  display: flex;
  align-items: center;
  justify-content: center;
}
.right-block-image-first {
  margin-top: 100px;
  margin-right: 34px;
  width: 45%;
}
.right-block-image-second {
  width: 45%;
}
