@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");

/* css reset  */
/*! Note Use Rem Unit */
* {
  margin: 0px;
  padding: 0px;
}


body {
  background-color: rgb(255, 255, 255);
  font-family: "Quicksand", sans-serif;
  overflow-x: hidden;
}

/** Our Vision Section */
.our-vision-main-section {
  margin-top: 10rem;
}
/* Top Block */
.our-vision-main-section .top-block,
.our-vision-main-section .bottom-block {
  width: 85%;
  margin: auto;
  margin-top: 5rem;
  margin-bottom: 5rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.our-vision-main-section .t-heading-block,
.our-vision-main-section .b-heading-block {
  width: 100%;
  text-align: center;
}
.our-vision-main-section-top-hd{
  font-size: 45px;
  text-align: center;
  font-weight: 700;
  line-height: 2rem;
  margin-bottom: 8rem;
}
.our-vision-main-section .top-block h1 {
  font-size: 2.7rem;
}

.our-vision-main-section .top-block h1 span {
  color: var(--primary);
}

.t-para-block {
  align-self: center;
  padding-left: 3rem;
  
}

.t-para-block p,
.b-para-block p {
  width: 90%;
  text-align: justify;
  line-height: 1.5rem;
  margin-bottom: 1rem;
}

/* Middle Block */
.middle-block img {
  width: 100%;
  height: 500px;
  object-fit: cover;
}

/* Bottom Block */
.bottom-block {
  border-top: 2px solid rgba(0, 0, 0, 0.692);
  padding-top: 2rem;
}

.our-vision-main-section .bottom-block h1 {
  width: 80%;
  font-size: 1.8rem;
}

.b-para-block h3 {
  font-size: 1.1rem;
  color: rgba(0, 0, 0, 0.808);
  margin-bottom: 3rem;
}

/** Contact Page Section */
.contact-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 300px;
  padding: 1rem 0rem;
  margin-bottom: 2rem;
  margin-top: 12rem;
  border-top: solid 12px var(--primary);
  border-bottom: solid 10px var(--secondary);
}

.contact-container h1 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
  color: var(--primary);
}

.contact-container a {
  background-color: var(--primary);
  color: white;
  text-transform: uppercase;
  font-size: 0.9rem;
  font-weight: bolder;
  padding: 0.8rem 1.2rem;
  border: none;
  text-decoration: none;
  border-radius: 0.125rem;
  margin-top: 1rem;
}

